<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
bkLib.onDomLoaded(function() {
	new nicEditor({fullPanel: true, iconsPath: '/nicEdit/nicEditorIcons.gif'}).panelInstance('page_body');
     // var myNicEditor = new nicEditor();
     // myNicEditor.setPanel('myNicPanel');
     // myNicEditor.addInstance('myInstance1');
});
</script>
<% end %>

<%#= form.text_area :body %>
<div id="real_body">
	<%= text_area_tag 'page[body]', w(@page.body), :id => 'page_body' %>
</div>
