/* Overloading * Extending Blueprint */
body { 
	font-size: 90%;	background-color: #fff; color: #333; 
}
input, textarea { font-size: 100%; }
select { margin:0; padding 0; }
.hidden { display: none; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.float.left { float: left; }
.float.right { float: right; }
p img { float: none; }
label em { color: red; }
li.empty, div.empty  { background: #eee; margin:0; padding: 10px; }

#logo {
	margin-left: -10px;
}

#top_menu { margin: 0; padding: 0; list-style: none; }
#top_menu li {
	display: inline;	
	padding-left: 3px;
}

#side_menu {
	margin: 10px 5px 35px;
}

#sub_area h4 {
	margin-bottom: 10px;
}
#sub_area ul {
	margin: 0; padding: 0;
}
#sub_area li {
	font-size: 0.9em;
	list-style-type: square;
	margin-bottom: 0.5em;
}

textarea#page_body { 
	width: 100%; 
	height: 250px; 
}

#summary_area {
	margin: 5px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
}

#body_area #real_body {
	margin: 5px 0;
}

#footer {
	margin-top: 20px;
	border-top: 1px solid silver;
	font-size: 0.9em;
	color: #666;
}

#related_pages ul {
	margin: 0;
	padding: 10px;
	background: #eee;
	list-style-position: inside;
	list-style-type: square;
}
